# Drive Scheduler

### Library Imports and initial setups

In [89]:
import pandas as pd
import ipywidgets as widgets
from ipywidgets import Button, HBox, VBox
import random

In [83]:
drivers = pd.read_excel('data.xlsx', sheet_name='drivers')
clients = pd.read_excel('data.xlsx', sheet_name='clients')
distances = pd.read_excel('data.xlsx', sheet_name='distances')
distances = distances.set_index(distances.columns[0])
distances

,jeremyklassen,timmytheKid,johnnytheMan,MartyMcFly,timmyTam,maxmcbain,billybilborne,ThirdyMcThirdface,HerthaTheFourth,HenriettaThefifth
Unnamed: 0,,,,,,,,,,
jeremyklassen,0,2200,6358,7827,7353,3048,7599,7335,8157,10069
timmytheKid,2200,0,6373,9281,9086,1068,6759,7274,7054,7884
johnnytheMan,6358,6373,0,13826,6550,7279,2799,979,13349,11558
MartyMcFly,7827,9281,13826,0,11417,9370,15411,14793,9470,15515
timmyTam,7353,9086,6550,11417,0,10134,9343,7027,15454,16537
maxmcbain,3048,1068,7279,9370,10134,0,7368,8145,6077,7068
billybilborne,7599,6759,2799,15411,9343,7368,0,2625,13110,9783
ThirdyMcThirdface,7335,7274,979,14793,7027,8145,2625,0,14196,12000
HerthaTheFourth,8157,7054,13349,9470,15454,6077,13110,14196,0,7484
HenriettaThefifth,10069,7884,11558,15515,16537,7068,9783,12000,7484,0

In [63]:
clientId = []
for row in clients.iterrows():
    clientId.append(row[1]['id'])
driverId = []
for row in drivers.iterrows():
    driverId.append(row[1]['id'])

### Morning Pickups Algorithm

In [72]:
#Variables
currentClients = clientId.copy()
currentDrivers = driverId.copy()
schedule = {}

#initialize schedule dictionary
for driver in currentDrivers:
    schedule.update({driver:""})
    print(schedule)

#How many double drives are needed
dDrives = len(clientId) - len(driverId)

#create a dataframe of client distances
cDistances = pd.DataFrame()

{'maxmcbain': ''}
{'maxmcbain': '', 'billybilborne': ''}
{'maxmcbain': '', 'billybilborne': '', 'ThirdyMcThirdface': ''}
{'maxmcbain': '', 'billybilborne': '', 'ThirdyMcThirdface': '', 'HerthaTheFourth': ''}
{'maxmcbain': '', 'billybilborne': '', 'ThirdyMcThirdface': '', 'HerthaTheFourth': '', 'HenriettaThefifth': ''}

In [103]:
#Creates a 1 to 1 schedule
currentClients = clientId.copy()
currentDrivers = driverId.copy()
random.shuffle(currentDrivers)
shortestDistance = 100000
shortestClient = ""
for driver in currentDrivers:
    shortestDistance = 1000000
    shortestClient = ""
    for client in currentClients:
        if distances.loc[driver][client] < shortestDistance:
            shortestDistance = distances.loc[driver][client]
            shortestClient = client
    schedule.update({driver:{shortestClient:shortestDistance}})
    try:
        currentClients.remove(shortestClient)
    except:
        pass
schedule

{'maxmcbain': {'timmytheKid': 1068},
 'billybilborne': {'timmyTam': 9343},
 'ThirdyMcThirdface': {'johnnytheMan': 979},
 'HerthaTheFourth': {'MartyMcFly': 9470},
 'HenriettaThefifth': {'jeremyklassen': 10069}}